body {
    margin: 0;
}

h1 {
    text-align: center;
    background-color: aqua;
    height: 100px;
}

form {
    text-align: center;
    align-content: flex-end;
}

input {
    margin: 10px;
}