.parent01 {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 30% 70%;
    height: auto;
}

.parent02 {
    background-color: bisque;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    height: auto;
}


li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    font-size: 25px;
    vertical-align: bottom;
    
   
}

#afpa-img {
   
    height:100px ;
    
}

.navbar-nav {
    text-align: right;
    font-weight: bold;
}

header {
    text-align: center;
    height: 50px;
    background-color: black;
    color:white;
    font-size: 50px;
}

form {
    background-color: aqua;
    height: auto;
    width: 100%;
    

}

.header {
    text-align: center;
    height: 100px;
    background-color: black;
    color:white;
    font-size: 50px;  
    padding-top: 10px;
}


